@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h1>Content Types</h1>
    <ul>
        @foreach (var contentTypeName in Model)
        {
            <li>@contentTypeName</li>
        }
    </ul>
    
</div>
